name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
       matrix:
         python-version: ['3.9', '3.10']
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install -r requirements.txt
          pip3 install -r test_requirements.txt

      - name: Run main tests
        # when triggering tests with `python -m pytest` (instead of simply calling `pytest`) we add current directory to sys.path
        run: python -m pytest tests/

  make-package:
    runs-on: ubuntu-latest
    needs: build-and-test
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip build
          pip3 install -r requirements.txt

      - name: Make package
        run: python3 -m build

      - name: Archive package as artifacts
        uses: actions/upload-artifact@v3
        with:
          name: packages
          path: |
            ./dist
            ./input_examples

  test-package:
    runs-on: ubuntu-latest
    strategy:
       matrix:
         python-version: ['3.9', '3.10']
    needs: make-package
    steps:
      - name: Fetch package as artifacts
        uses: actions/download-artifact@v3
        with:
          name: packages

      - name: Inspect what has been downloaded
        run: | 
          ls -al
          find .

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          
      - name: Install package
        run: python3 -m pip install dist/*whl

      - name: Test package
        run: |
         yaptide-converter -h
         yaptide-converter ./input_examples/sh_parser_test.json
         python3 -m converter.main -h
         python3 -m converter.main ./input_examples/sh_parser_test.json
